version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: callmaker-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: callmaker-grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
    networks:
      - monitoring
    depends_on:
      - prometheus

  node-exporter:
    image: prom/node-exporter:latest
    container_name: callmaker-node-exporter
    ports:
      - "9100:9100"
    networks:
      - monitoring

  mysql-exporter:
    image: prom/mysqld-exporter
    container_name: callmaker-mysql-exporter
    #ports:
     # - "9104:9104"
    environment:
      DATA_SOURCE_NAME: "callmaker:callmaker_pass@(callmaker-mysql:3306)/callmaker_db"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data:
